.card-detail {
  justify-content: center;
}

#card-content {
  display: contents;
  list-style-type: none;
  position: absolute;
}

.img-detail {
  width: 70%;
  height: 80%;
  align-items: center;
  justify-content: center;
  border-radius: 2%;
  border: 2px solid #393939;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
}

.div-detail {
  display: inline-block;
  background-color: #414232;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #393939;
  border-radius: 2%;
  height: 90%;
  width: 90%;
  box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
}

p button {
  display: block;
  width: 30%;
  margin: 1em auto;
  height: 2em;
  text-decoration: none;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #ddd;
  font-size: 1.1rem;
  background-color: #1a1a1a;
  border-color: 000000;
  border-radius: 8px;
  min-width: 300px;
  text-decoration: none;
}

p button:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  border: 2px solid #f2f2f2;
  transform: translateY(-2px);
  cursor: pointer;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
}

#card-content a {
  text-decoration: none;
}
