.card {
  display: inline-block;
  /*flex-wrap: wrap;
  */width: 18em;
  height: 33em;
  background-color: #939788;
  text-align: center;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 15px;
  letter-spacing: 0.0225em;
  padding: 20px;
  margin: 0px 10px 10px 10px;
  color: rgba(43, 40, 40, 0.803);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card:hover {
  box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.img {
  width: 250px;
  height: 200px;
}
