.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #d9d9d9 !important;
    background-color: #212529 !important;
    border: 0.5px solid #393939;
}
.page-link:hover {
    z-index: 2;
    color: #fff !important;
    text-decoration: none;
    background-color: #007E33 !important;
    border-color: #393939;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007E33 !important;
    border-color: #393939;
}

.page-item.disabled .page-link{
    border-color: #393939 !important;
    color: #393939 !important;
}

@media (max-width: 1000px) {
    .inactive {
        display: none;
    }
    .page-item.active .page-link {
        z-index: 3;
        color: #fff;
        background-color: #212529 !important;
        border-color: #393939;
    }
}